* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --bgcolor: rgb(20, 20, 20);
    --objcolor: rgb(0, 140, 179);
    --objcolor2: rgb(92, 255, 209);
    --objcolor3: rgb(144, 15, 15);
    --objcolor4: rgb(15, 114, 144);
}

body {
    color: white;
    background-color: var(--bgcolor);
}

ul {
    list-style: none;
}

.details {
    margin-left: 20%;
}

button {
    display: inline-block;
    padding: 4px 8px;
    font-size: 16px;
    text-align: center;
    border-radius: 9999px;
    color: white;
    background-color: var(--objcolor);
    transition: all 0.2s ease-in-out;
}
  /* Lorsque le bouton est survolé */
button:hover {
    cursor: pointer;
    background-color: var(--objcolor4);
}
  
  /* Lorsque le bouton est pressé */
button:active {
    background-color: var(--objcolor4);
}

