.auth {
    margin: 1%;
    padding: 24px;
    background-color: var(--bgcolor);
    border: 2px solid #7aa5c2;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--objcolor);
    border-radius: 5px;
}
  
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
  
input {
    display: block;
    width: 100%;
    padding: 8px;
    border: 1px solid #3f5868;
    border-radius: 4px;
    font-size: 16px;
}

  
  
  
  
  
  