.auth {
    margin: 1%;
    padding: 24px;
    background-color: var(--bgcolor);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--objcolor);
    border-radius: 5px;
    max-height: 70%;
    overflow-y: auto; 
}
  
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
  
.input {
    display: block;
    width: 100%;
    padding: 2%;
    border: 1px solid var(--objcolor4);
    border-radius: 4px;
    font-size: 16px;
}

.texte {
    margin-bottom: 5%;
}
  
  
  
  
  