.bird {
    display: flex;
    flex-direction: column;
    margin: 1%;
    padding: 1%;
    padding-left: 3%;
    padding-top: 2%;
    border-radius: 8px;
    background-color: var(--bgcolor);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;
    border: 1px solid var(--objcolor);
    border-radius: 50px;
}

.pseudo {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: var(--objcolor);;
    padding: 5px;
    margin-left: 10px;
    vertical-align: 23px;
}

.content {
    white-space: pre;
    margin-top: 8px;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 15px;
    white-space: pre-wrap;
    word-break: break-word;
    margin-bottom: 10px;
}

.date {
    margin-top: 8px;
    font-size: 12px;
    color: #666;
}

.bird:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
    border-color: var(--objcolor4);
    cursor: pointer;
}

.avatar {
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.visibilite {
    font-size: 12px;
    color: #666;
}

.reponse {
    font-size: 12px;
    color: #666;
}

.date, .visibilite, .reponse {
    padding-left: 15px;
}

.likesTrue {
    color:rgb(255, 65, 96);
    
}

.favorisTrue {
    color:rgb(255, 255, 129);
}

.likesTrue, .likesFalse, .favorisTrue, .favorisFalse{
    display: inline-block;
    margin-top: 10px;
    width: 25%;
    margin-left: 20%;
}

.likesTrue:hover, .likesFalse:hover, .favorisTrue:hover, .favorisFalse:hover{
    cursor: pointer;
}

.likesFalse:hover {
    color:rgb(255, 65, 96);
}

.favorisFalse:hover{
    color:rgb(255, 255, 129);
}

.icon {
    align-self: center;
    vertical-align: -5px;
    margin-right: 12px;
}