.homePage {
    margin-left: 20%;
    padding: 1%;
    align-content: center;
    background-color: var(--bgcolor);
    border: 1px solid var(--objcolor);
    border-radius: 5px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    margin-bottom: 2%;
}