.panel {
    background-color: var(--bgcolor);
    height: 100%;
    width: 20%;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 24px;
    border: 1px solid var(--objcolor);
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    
}

.logo {
    height: 10%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bold;
}

.icon {
    align-self: center;
    vertical-align: -5px;
    margin-right: 12px;
}

.elemMenu {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15%;
    text-align: center;
    border: none;
    background: none;
    font-size: 18px;
    color: var(--objcolor);
    cursor: pointer;
    font-size: x-large;
    border: 1px solid var(--objcolor);
    border-radius: 9999px;
}
      
.elemMenu:hover {
    background-color: rgba(29, 161, 242, 0.1);
    transform: translateY(-3%);  
}

.deconnexion {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.span {
    align-self: bottom;
}

