.profile {
    margin-left: 20%;
    padding: 1%;
    align-content: center;
    background-color: var(--bgcolor);
    border: 1px solid var(--objcolor);
    border-radius: 5px;
}

.avatar {
    display: inline-block;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    object-fit: cover; /* Assurez-vous que l'image est entièrement visible */
}

.button {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 2%;
}

.button1, .button2, .button3 {
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
}

.button1 {
    margin-left: 10%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
