.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1%;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--bgcolor);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;
    border: 1px solid var(--objcolor);
    border-radius: 5px;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 16px;
}
  
.user > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

  
.user > div:first-child > div:last-child {
    font-size: 24px;
    font-weight: bold;
}
  
.user > div:nth-child(2),
.user > div:nth-child(3) {
    margin-bottom: 10px;
}

.user:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
    cursor: pointer;
}

.pseudo {
    font-size: 18px;
    font-weight: bold;
    color: var(--objcolor);;
}

.avatar {
    display: inline-block;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    object-fit: cover;
}